.introducao-bg {
    background-color: #FBEAEB;
}

.introducao-conteudo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    padding-top: 24px;
}

.introducao-texto {
    padding-top: 60px;
}

.introducao-texto p {
    font-weight: 400;    
}

.introducao-texto p:first-of-type {
    position: relative;
    padding-left: 48px;
}

.introducao-texto p:first-of-type::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.6%;
    transform: translateY(-50%);
    width: 32px;
    height: 4px;
    background-color: #2F3C7E;
}

.titulo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    line-height: 5.2rem;    
    margin-bottom: 8px;
    margin-top: 8px;    
}

.introducao-conteudo img {
    padding-left: 48px;
}

.introducao-texto span {
    font-weight: 600;
}

.descricao {
    margin-top: 32px;
}

/* Introdução Responsivo */

@media (max-width: 1000px) {
    .introducao-texto p:first-of-type {
        font-size: 0.8rem;
    }
    
    .titulo1 {
        font-size: 3rem;
        line-height: 4.2rem; 
    }

    .descricao {
        width: 380px;
    } 
}

@media (max-width: 600px) {
    .introducao-conteudo {
        display: block;        
        justify-items: center;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    
    .introducao-texto p:first-of-type {
        font-size: 0.7rem;
        padding-left: 44px;
    }
    
    .titulo1 {
        font-size: 1.8rem;
        line-height: 2.8rem; 
    }

    .descricao {
        width: 280px;
        font-size: 0.8rem;
        margin-top: 24px;
    }
    
    .introducao-conteudo img {
        display: none;
    }
}
