.ordens-bg {
    background-color: #FBEAEB;
    min-height: 85vh;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container3 {
    max-width: 1200px;    
    margin: 0 auto;    
    padding: 40px 52px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 8px;    
}

.header-ordens {
    display: flex;
    align-items: end;   
    justify-content: space-between;
    padding-bottom: 28px;
}

.header-ordens h2 {
    font-size: 2.8rem;
    padding-left: 8px;    
}

#input-busca {
    width: 236px;
}

#ordens-tabela {
    width: 100%;
    text-align: center;    
    border-collapse: collapse;    
}

#ordens-tabela th, #ordens-tabela td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#ordens-tabela tr:first-child {
    background-color: #f2f2f2;
}

.botao-editar, .botao-remover {
    max-width: 20px;
    cursor: pointer;
    padding-top: 4px;
    display: inline-block;      
}

/* Página de Ordens Responsivo */

@media (max-width: 1000px) {
    .ordens-bg { 
        min-height: 90vh;
        padding-top: 14px;
    }
    
    .container3 {
        border-radius: 0px;
    }
}

@media (max-width: 600px) {
    .ordens-bg {        
        padding-bottom: 80px;
    }
    
    .container3 {
        max-width: 540px;
        padding: 40px 20px;
        display: grid;
        justify-items: center;   
    }    
    
    .header-ordens {        
        display: grid;
        justify-items: center;
        gap: 16px;
    }
    
    .header-ordens h2 {
        font-size: 1.8rem;            
    }
    
    #input-busca {
        width: 168px;
    }     
    
    #ordens-tabela th, #ordens-tabela td {
        padding: 4px;        
    }

    #ordens-tabela th {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    #ordens-tabela td {
        font-size: 0.71rem;
        padding-top: 16px;
        padding-bottom: 12px;
    }
    
    .botao-editar, .botao-remover {
        max-width: 16px;             
    }
}
