.ordens-bg {
    background-color: #FBEAEB;
    min-height: 90vh;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container3 {
    max-width: 1200px;    
    margin: 0 auto;    
    padding: 40px 52px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 8px;    
}

.header-ordens {
    display: flex;
    align-items: end;   
    justify-content: space-between;
    padding-bottom: 28px;
}

.header-ordens h2 {
    font-size: 2.8rem;
    padding-left: 8px;    
}

#ordens-tabela {
    width: 100%;
    text-align: center;    
    border-collapse: collapse;    
}

#ordens-tabela th, #ordens-tabela td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#ordens-tabela tr:first-child {
    background-color: #f2f2f2;
}

.botao-editar, .botao-remover {
    max-width: 20px;
    cursor: pointer;
    padding-top: 4px;
    display: inline-block;      
}
